/* google font import */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* head nav design  */
.nav-bar{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.head-list{
    list-style: none;
    display: flex;
    gap: 30px;
}
.head-button{
    border-radius: 4px;
    background-color: #469165;
    max-width: 164px;
    height: 44px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
}
/* hero section design  */
.hero{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-heading{
    max-width: 770px;
    text-align: center;
}
.early-access-btn{
    display: inline-flex;
    align-items: center;
    border-radius: 12px;
    max-width: 229px;
    height: 35px;
    color: #469165;
    border: none;
    text-align: center;
    padding: auto;
    gap: 8px;
}
.early-access-btn img{
    width: 16px;
    height: 16px;
    
}
.hero-heading h1{
    color: #FFFFFF;
    font-size: 75px;
}
.h1-green{
    color: #30B868;
}
.hero-heading p{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 20px;
}
.btn-hero{
    display: flex;
    gap: 20px;
    margin-top: 32px;
}
.btn-1{
    border-radius: 4px;
    max-width: 251px;
    height: 52px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
}
.btn-2{
    border-radius: 4px;
    max-width: 251px;
    height: 52px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
}
/* card section  */
.card-section{
    padding: 80px 0;
    text-align: center;
}

/* card container  */
.card-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 24px;
}

/* cards flexing here */
.cards{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 60px;
}

/* card design  */
.card{
    background: #fff;
    padding: 40px 24px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 0px 12px 30px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* card image icon */
.card img{
    width: 32px;
    height: 32px;
    padding: 12px;
    background: #F95555;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* card title */
.card h3{
    font-size: 22px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 14px;
}

/* card text */
.card p{
    font-size: 15px;
    line-height: 20px;
    color: #627382;
}

/* solution section  */
.solution {
  padding-top: 120px;
  
}
.paragraph-title{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
}

.solution-container {
    margin: 120px 0;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    gap: 80px;
}

.image-section img {
  width: 100%;
  display: block;
}

.paragraph {
  flex: 1;

  
}
.lists{
    list-style: none;
    text-align: left;
}
.lists li{
    background-image: url("assets/CheckCircle.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 16px;
    text-align: left;
}






.join{   
    padding-top: 120px;
}
.join-container{
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    width: 71%;
    max-width: 1140px;
    /* padding: 131px 157px; */
}
.join-container h2{
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.join-container p{
    color: #627382;
    font-size: 22px;
    background-size: cover;
    line-height: 24px;
    text-align: center;
    

}
.join-btn{
    background-color: #469165;
    padding: 16px 12px;
    width: 194px;
    height: 52px;
    border-radius: 4px;
    border: none;
    margin-top: 24px;
    color: white;

}
.subtitle{
    color: #627382;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 80px;
}
.footer{
     background-color: #001931;
     margin-top: 120px;
}
.footer-container{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 80px 120px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.social-content{
    color: #FFFFFF;
    font-size: 20px;
}
.social-content-logo{
    display: flex;
    gap: 16px;
}
.line{
    max-width: 1360px;
    color: #627382;
}
.copyright{
    font-size: 16px;
    color: #FAFAFA;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

button:hover{
    background-color: #F95555;
}
